h1{
    background-color: blue;
}

// h2{
//     background-color: blue;
//     text-align: center;
//     color: white;
//     text-transform: uppercase;
// }

h3{
    background-color: blue;
    text-align: center;
    color: white;
}

input.ng-invalid.ng-touched{
    border-color: red;
}