/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';


h2{
    background-color: red;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

h3{
    background-color: blue;
    text-align: center;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar.mat-accent {
    background-color: #ff4081 !important; /* Replace with your accent color */
  }
